$icon-font-path: '../fonts/';

//body, html
$global-vh: 100%;
$global-vw: 100%;

//buttons gray
$btn-gray-color:  #fff;
$btn-gray-bg: #555;
$btn-gray-border: transparent;

//buttons buy
$btn-buy-color: #fff;
$btn-buy-bg: #fd9c94;
$btn-buy-border: transparent;

//tile bottom
$tile-mbottom: 30px;

//tile caption
$tile-cap-name: 1.286em; // 18px
$tile-cap-company: 1.071em; // 15px
$tile-cap-margin: .3em; // 18px

