.navbar {
    .navbar-img {
        width: 110px;
        position: relative;
        top: 5px;
    }
    .btn-toggle-mobile {
        position: absolute;
        right: 15px;
        top: 5px;
    }
}